<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCT_BMvlQbtG69u2uctHNozyULApgf_M1g</string>
	<key>GCM_SENDER_ID</key>
	<string>951766696602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.structuralAlertSystem</string>
	<key>PROJECT_ID</key>
	<string>construction-monitoring-iot</string>
	<key>STORAGE_BUCKET</key>
	<string>construction-monitoring-iot.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951766696602:ios:72364e98ae6ed3af41d523</string>
	<key>DATABASE_URL</key>
	<string>https://construction-monitoring-iot-default-rtdb.firebaseio.com</string>
</dict>
</plist>